DEBUG=True
SECRET_KEY=replace-this-with-a-dev-secret-key
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=inclusive_reader_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

USE_MONGODB=False
MONGODB_URI=
MONGODB_DB_NAME=ocr_platform

USE_CLOUDINARY=False
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
